* {
  margin: 0%;
  padding: 0%;
}

.container {
  height: 100vh;
  background-image: url(./img/modern.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box {
  padding: 20px 30px;
  /* border: 1px solid black; */
  color: #142f45;
  background-color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 2px;
}
.btn {
  width: 100px;
  border-radius: 10px;
  box-shadow: 3px 3px;
  color: white;
  background-color: blue;
}

.content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.content-inner-box {
  padding: 50px 40px;
  display: flex;
  background-color: white;
  color: black;
  font-size: 60px;
  border-radius: 20px;
}

.hidden {
  display: none;
}
